# Local server
PORT=8000
HOST=0.0.0.0

# Deployment
SITE_URL=https://2298741867.github.io/eight-pillars-covenant-/
CUSTOM_DOMAIN=
PREVIEW_URL=https://github.com/2298741867/eight-pillars-covenant-/blob/main/index.html

# Analytics
ANALYTICS_ENABLED=false
ANALYTICS_PROVIDER=plausible
ANALYTICS_DOMAIN=example.com
ANALYTICS_SITE_ID=ABCDEF
ANALYTICS_SCRIPT_SRC=
ANALYTICS_API_HOST=
